In [447]:
import pandas as pd
import matplotlib.pyplot as plt

In [578]:
df1 = pd.read_csv('ForestDataset/API_AG.LND.FRST.K2_DS2_en_csv_v2_3932352.csv',header=False)
df2 = pd.read_csv('GreenHouseDataset/API_EN.ATM.GHGT.KT.CE_DS2_en_csv_v2_3931024.csv',header=False)
df3 = pd.read_csv('MortalityRateDataset/API_SH.DYN.MORT_DS2_en_csv_v2_3929707.csv',header=False)

In [579]:
df1 = df1.drop(df1.columns[0:34],axis=1).dropna()
df2 = df2.drop(df2.columns[0:34],axis=1).dropna()
df3 = df3.drop(df3.columns[0:34],axis=1).dropna()

In [582]:
df1 = df1.iloc[:2,1:]
df1

          1991
0        4.200
1  4968316.114

In [561]:
df = {'Year':df1.columns[4:],'Land':df1}

1990    4.016878e+08
1991    4.012551e+08
1992    4.003075e+08
1993    3.991656e+08
1994    3.982520e+08
1995    3.973384e+08
1996    3.964248e+08
1997    3.955112e+08
1998    3.945976e+08
1999    3.936840e+08
2000    3.966981e+08
2001    3.921075e+08
2002    3.914507e+08
2003    3.907938e+08
2004    3.901370e+08
2005    3.894802e+08
2006    3.888514e+08
2007    3.881995e+08
2008    3.875476e+08
2009    3.868957e+08
2010    3.899141e+08
2011    3.892505e+08
2012    3.885870e+08
2013    3.879235e+08
2014    3.872600e+08
2015    3.865966e+08
2016    3.860556e+08
2017    3.852221e+08
2018    3.845748e+08
2019    3.838983e+08
2020    3.832388e+08
Name: 0, dtype: float64